<!-- <h1>{{username}}</h1> -->
<div class="container py-5">
    <table style="border:2px">
        <thead>
        <th></th>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Delete</th>

    </thead>
        <tr *ngFor =" let p of prod">
            <td><img src="{{p.url}}" style="width:128px;height:128px;" alt="Image Not Uploaded by Retailer"></td>
            <td>{{p.prodName}}</td>
            <td>{{p.brand}}</td>
            <td>{{p.price}}</td>
            <td><button type="button" (click)=deleteProduct(p.prodid)>Delete</button></td>
            <br>
            <!-- <td>{{totalPrice}}</td> -->
            <!-- <td><button class="btn btn-danger" (click)="onDeleteCartProductClick(cart.cId)">Delete item</button></td> -->
        </tr>
    </table>
    <!-- <button class="btn btn-warning my-2" [disabled]="buyProductButton" [routerLink]="['/user-placeorder']">Buy Products</button> &nbsp; -->
    <strong>Your Total Cart Value is {{totalPrice}}</strong>
</div>