
<div class="container py-5">
    <table style="border:2px">
        <tr *ngFor =" let p of prod;index as i">
            <td><img src="{{image[i]}}" style="width:128px;height:128px;" alt="Image Not Uploaded by Retailer"></td>
            <td>{{p.prodName}}</td>
            <td>{{p.brand}}</td>
            <td>{{p.price}}</td>
            <br>
            <!-- <td>{{totalPrice}}</td> -->
            <!-- <td><button class="btn btn-danger" (click)="onDeleteCartProductClick(cart.cId)">Delete item</button></td> -->
        </tr>
    </table>
    <!-- <button class="btn btn-warning my-2" [disabled]="buyProductButton" [routerLink]="['/user-placeorder']">Buy Products</button> &nbsp; -->
    <strong>Your Total Cart Value is {{totalPrice}}</strong>
</div>