<div class="container py-5">
    <form class="form-signin">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Change Password Here</h1>
            </div>
      
        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="{{email}}" required autofocus
          name="email" disabled
          >
        </div>
      
        <div class="form-label-group my-2">
          <input type="password" id="inputPassword1" class="form-control" placeholder="Password" required 
          [(ngModel)]="password" name="password"
          >
        </div>
          <div class="form-label-group my-2">
            <input type="password" id="inputPassword2" class="form-control" placeholder="Re-Password" required 
            [(ngModel)]="repassword" name="repassword"
            >
        </div>
        <div class="form-label-group my-2">
            <input type="number" id="inputOTP" class="form-control" placeholder="OTP" required 
            [(ngModel)]="recievedOTP" name="otp"
            >
        </div>
            <button class="btn btn-outline-success btn-sm my-2" (click)="generateOTP()" >Generate OTP</button>
            <div *ngIf="otp$ | async as otp">
                {{otp}}
            </div>
            {{message}}
        <button class="btn btn-lg btn-primary btn-block" (click)="changePassword()">Change</button>
      </form>
    </div>
   
