<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
        h1{
        font:italic normal bolder 28px "Courier New";
        }
        body{
              
                margin:50px;
                padding-left:400px;
                background-color: #F0F8Ff;
                
            }
            .btn{
                border-radius:12px;
            }     
            
        </style>
    </head>
    <body>
       <div class="container py-5">
    <form class="form-signin col-md-6">
        <div class="text-center mb-4">
          <h1>Change Password Here</h1>
            </div>
      
        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="{{email}}" required autofocus
          name="email" disabled
          ><br>
        </div>
      
        <div class="form-label-group my-2">
          <input type="password" id="inputPassword1" class="form-control" placeholder="Password" required 
          [(ngModel)]="password" name="password"
          ><br>
        </div>
          <div class="form-label-group my-2">
            <input type="password" id="inputPassword2" class="form-control" placeholder="Re-Password" required 
            [(ngModel)]="repassword" name="repassword"
            ><br>
        </div>
        <div class="form-label-group my-2">
            <input type="number" id="inputOTP" class="form-control" placeholder="OTP" required 
            [(ngModel)]="recievedOTP" name="otp"
            ><br>
        </div>
            <button class="btn btn-primary btn-md my-2" (click)="generateOTP()" >Generate OTP</button>
            <div *ngIf="otp$ | async as otp">
                {{otp}}
            </div>
            {{message}}
        <button class="btn btn-lg btn-primary btn-block" (click)="changePassword()">Change</button>
      </form>
    </div>
    </body>
</html>
