<div id="container">
  <div id="left">
    <p>left block</p>
    <button id="wishlist">Wishlist</button>
    <button class="goLeft" (click)=goLeft()>left</button>
    <img src="{{ image }}" alt=""  id="myImage"/>
  <button class="goRight" (click)=goRight()>right</button>
  </div>
  <!-- <img
      class="myProduct"
      id="mainImg"
      src="/assets/images/asusA17.jpg"
      alt="Product Image"
      width="50%"
      height="50%"
    />
    <img
      class="myProduct"
      id="mainImg"
      src="/assets/images/asusA17_2.jpg"
      alt="Product Image"
      width="50%"
      height="50%"
    /> -->
  <div id="right">Right Side Menu</div>
</div>
