* {
  margin: 0;
  padding: 0;
}
#container {
  height: 100%;
  width: 100%;
  font-size: 0;
}
#left,
#right {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 12px;
}
#left {
  width: 50%;
  text-align: center;
}
#wishlist {
  float: right;
  margin-right: 20%;
  margin-top: 5%;
}

#right {
  width: 50%;
  background: yellow;
}

#myImage{
  width:150px;
  height: 150px;
  margin-top: 5%;
}
