<div class="table-style">
  <table class="compare-table">
    <thead>
      <th></th>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Category</th>
      <th>Description</th>
      <th>Supplier</th>
    </thead>

    <tbody>
      <tr *ngFor="let p of products">
        <!-- <td id="first-border-style"><img src="\assets\oneplus8.jpg"><button id="button-style">Add to Cart</button></td> -->
        <div (click)="viewProduct(p.prodid)">
          <td id="first-border-style">
            <img
              src="{{ p.url }}"
              alt="img of {{ p.prodName }}"
            /><button id="button-style" (click)="addToCart(p.prodid)">
              Add to Cart
            </button>
          </td>
          <!-- <td><img src={{p.url}}></td> -->
          <td>{{ p.prodid }}</td>
          <td>{{ p.prodName }}</td>
          <td>{{ p.brand }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.category }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.supplier.supplier_name }}</td>
        </div>
      </tr>
    </tbody>
  </table>
</div>
